body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.header{
	width: 100%;
	background-color: #1065AF;
	color: white;
	padding: 1em;
	border-bottom: 1px solid rgb(94, 170, 255);
}
.header *{
	margin: 0;
}
.header h1 {
	display: inline-block;
}
.search-box{
	border-radius: 6px;
	padding: 0.5em;
	padding-left: 2em;
	background-image: url('../img/search.svg');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	background-size: 1.8em;
	right: 1em;
    display: inline-block;
    position: fixed;
    border: 1px solid #5D5D5D;
}
.search-box:focus {
	//TODO remove border
};